@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
}
<h1>admin</h1>
<h3>The button below will permanently delete every account and every post except for admin accounts, will you proceed and delete everything?</h3>
<button class="btn btn-danger" id="deleteButton" style="width: 100px" ng-click="DeleteEverything()">Delete</button>
<h2 style="color: red" id="errorMessage"></h2>
<h2 style="color: green" id="successMessage"></h2>