@{
    ViewBag.Title = "Posts";
}
<div class="row">
    <div class="col-12" style="margin-top: 10%; margin-left: 10%; width: 70%;">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="title" placeholder="A Creative Title" ng-model="title">
            </div>
            <div class="form-group">
                <textarea class="form-control" style="height: 250px" id="body" placeholder="Content" ng-model="body"></textarea>
            </div>
            <div class="form-group">
                <label for="media" class="btn btn-info">Select Image</label>
                <input type="file" style="visibility:hidden;" id="media" fileread="media">
            </div>
            <button class="btn btn-primary" style="width: 100px;float: right;" ng-click="CreatePost()">Post</button>
            <br />
            <br />
            <span style="color: red" id="errorMessage"></span>
        </form>
    </div>
</div>
<div class="row" ng-repeat="item in posts" style="background-color: antiquewhite; border: double; margin-top: 10%; margin-left: 10%; width: 70%;">
    <div class="col-6" style="padding-right: 10%; padding-left: 10px">
        <h3>{{item.Title}}</h3>
        <h5 style="padding-bottom: 10%; padding-top: 5%">{{item.Body}}</h5>
        <span style="font-size: medium; padding-bottom: 10%">Posted by {{item.User}} on {{item.Date}}</span>
        <img ng-if="item.Media!=null" style="width: 50%; margin-bottom: 5%; margin-left: 50%; margin-top: 5%; border: groove; border-radius: 5%" src="{{item.Media}}" alt="Media" />
        <button class="btn btn-warning" style="margin-bottom: 5%; width: 100px;float: right;" ng-click="DeletePost(item.Id)">Sil</button>
        <span style="color: red" id="errorMessage_"></span>
    </div>
</div>
